<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

<servlet>
<servlet-name>SettingCTX </servlet-name>
<servlet-class>SettingCTX </servlet-class>
</servlet>
<servlet>
 <servlet-name>ReterivingCTX </servlet-name>
 <servlet-class>ReterivingCTX </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ReterivingCTX </servlet-name>
<url-pattern>/ReterivingCTX </url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SettingCTX </servlet-name>
<url-pattern>/SettingCTX </url-pattern>
</servlet-mapping>
 

</web-app>
