<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" [
<!ENTITY contextInclude SYSTEM "org/springframework/web/portlet/context/WEB-INF/contextInclude.xml">
]>

<beans>

	
	<bean id="triangle" class="org.lucky.spring.example9BeanFactoryPostProcessor.shapes.Triangle" >
		<property name="pointA" ref="pointA"/>
		<property name="pointB" ref="pointB"/>
		<property name="pointC" ref="pointC"/>
	</bean>
	
	
	
	<bean id="pointC" class="org.lucky.spring.example9BeanFactoryPostProcessor.shapes.Point">
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>
	
	<bean id="pointA" class="org.lucky.spring.example9BeanFactoryPostProcessor.shapes.Point">
		<property name="x" value="${pointA.pointX}"/>
		<property name="y" value="${pointA.pointY}"/>
	</bean>
	
	<bean id="pointB" class="org.lucky.spring.example9BeanFactoryPostProcessor.shapes.Point">
		<property name="x" value="0"/>
		<property name="y" value="20"/>
	</bean>
	
	<bean class="org.lucky.spring.example9BeanFactoryPostProcessor.MyBeanFactoryPostProcessor" />
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
	 	<property name="locations" value="classpath:org/lucky/spring/example9BeanFactoryPostProcessor/dev.properties"/>
	</bean>
</beans>